#wrap {
	width: 1000px;
	margin: 0 auto;
}

#play-ground {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: #555555 5px solid;
	overflow: hidden;
}

.border-right{
	border-right: #555555 4px solid;
}

.right {
	float: right;
}
.left {
	float: left;
}